<!DOCTYPE html>
<html>
  <head>
  <style>
  a:link, a:visited {
      text-decoration: none; color: black;
  }
  a:hover {
      text-decoration: underline;
  }
  </style>
  </head>
  <body>
    <%= yield %>
  </body>

</html>
